<style>
@font-face {
    font-family: 'coders';
    src: url('https://raw.githubusercontent.com/oddeyemotion/odd/main/_includes/svncodercrux-webfont.eot');
    src: url('https://raw.githubusercontent.com/oddeyemotion/odd/main/_includes/svncodercrux-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://raw.githubusercontent.com/oddeyemotion/odd/main/_includes/svncodercrux-webfont.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/oddeyemotion/odd/main/_includes/svncodercrux-webfont.woff') format('woff'),
         url('https://raw.githubusercontent.com/oddeyemotion/odd/main/_includes/svncodercrux-webfont.ttf') format('truetype'),
         url('https://raw.githubusercontent.com/oddeyemotion/odd/main/_includes/svncodercrux-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-body {
	font-family: 'coders' !important;
}

.text-base {
	font-size: 1.5rem;
}

.docs-markdown {
	line-height: 1.25;
}
</style>