<style>
@font-face {
    font-family: 'coders';
    src: url('https://raw.githubusercontent.com/oddeyemotion/odd/main/_includes/svncodercrux-webfont.eot');
    src: url('https://raw.githubusercontent.com/oddeyemotion/odd/main/_includes/svncodercrux-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://raw.githubusercontent.com/oddeyemotion/odd/main/_includes/svncodercrux-webfont.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/oddeyemotion/odd/main/_includes/svncodercrux-webfont.woff') format('woff'),
         url('https://raw.githubusercontent.com/oddeyemotion/odd/main/_includes/svncodercrux-webfont.ttf') format('truetype'),
         url('https://raw.githubusercontent.com/oddeyemotion/odd/main/_includes/svncodercrux-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-body {
	font-family: 'coders' !important;
}

.text-base {
	font-size: 1.6rem;
}

.docs-markdown {
	line-height: 1.25;
}

.docs-markdown h1 {
	font-size: 4.0rem;
}

.docs-markdown h2 {
	font-size: 3.6rem;
}

.docs-markdown h3 {
	font-size: 3.2rem;
}

.docs-markdown h4 {
	font-size: 2.8rem;
}

.docs-markdown h5 {
	font-size: 2.4rem;
}

.docs-markdown h6 {
	font-size: 2.2rem;
}

.text-sm {
	font-size: 1.6rem;
}
</style>