<style>
@font-face {
    font-family: 'coders';
    src: url('https://raw.githubusercontent.com/oddeyemotion/odd/main/_includes/SVNCoderCrux.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dina';
    src: url('https://raw.githubusercontent.com/zshoals/Dina-Font-TTF-Remastered/master/Fonts/DinaRemasterII.ttc');
    font-weight: normal;
    font-style: normal;
}


.font-body {
	font-family: 'coders' !important;
}

.text-base {
	font-size: 1.5rem;
}

.docs-markdown {
	line-height: 1.2;
}

.docs-markdown h1 {
	font-size: 3.7rem;
	font-weight: 570;
    line-height: 1;
}

.docs-markdown h2 {
	font-size: 3.3rem;
	font-weight: 570;
    line-height: 1;
}

.docs-markdown h3 {
	font-size: 2.9rem;
	font-weight: 570;
    line-height: 1;
}

.docs-markdown h4 {
	font-size: 2.5rem;
	font-weight: 550;
    line-height: 1;
}

.docs-markdown h5 {
	font-size: 2.1rem;
	font-weight: 550;
    line-height: 1;
}

.docs-markdown h6 {
	font-size: 1.8rem;
	font-weight: 550;
    line-height: 1;
}

.text-sm {
	font-size: 1.3rem;
}

.text-xl {
	font-size: 2rem;
}

.docs-emoji {
	font-size: 1em;
	line-height: 1.2;
	vertical-align: -.1em;
}

.text-xs {
	font-size: 1.4rem;
}

.h-6 {
	height: 1.5rem;
}

.mt-1 {
	margin-top: -0.6rem;
}

code, kbd, pre, samp {
	font-family: 'dina' !important;
}

.docs-markdown code:not([class*=language-]):not(.member-signature), .docs-markdown kbd, .docs-markdown pre:not([class*=language-]):not(.member-signature) {
	font-size: 80%;
}

a:link {
  color: #FFACAC;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #FFACAC;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ACC0FF;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #F3B352;
  background-color: transparent;
  text-decoration: underline;
}

.dark .dark\:text-blue-400{
	color: rgb(255 172 172/var(--tw-text-opacity));
}

.dark .docs-markdown a:not(.no-link), .dark .docs-markdown h1 .header-anchor-trigger, .dark .docs-markdown h2 .header-anchor-trigger, .dark .docs-markdown h3 .header-anchor-trigger, .dark .docs-markdown h4 .header-anchor-trigger, .dark .docs-markdown h5 .header-anchor-trigger, .dark .docs-markdown h6 .header-anchor-trigger {
	color: rgb(255 172 172/var(--tw-text-opacity));
}

.dark .docs-markdown h1 {
	color: rgb(255 172 172/var(--tw-text-opacity));
}

.dark .docs-markdown h2, .dark .docs-markdown h3, .dark .docs-markdown h4, .dark .docs-markdown h5, .dark .docs-markdown h6 {
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.text-blue-600 {
    color: rgb(255 172 172/var(--tw-text-opacity));
}

.py-4 {
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.break-normal {
    overflow-wrap: break-word;
    word-break: break-all;
}

.docs-icon {
    display: inline;
    vertical-align: -.25em;
    width: 1em;
}

a.no-link.inline-flex.items-center.justify-center.font-medium.leading-none.whitespace-nowrap.text-blue-600.bg-blue-100.border.border-blue-100.hover\:border-blue-300.dark\:hover\:bg-blue-200.transition-colors.duration-200.ease-out.h-6.px-2.text-xs.rounded-md {
	padding-bottom: 0.8%;
}

span.no-link.inline-flex.items-center.justify-center.font-medium.leading-none.whitespace-nowrap.text-blue-600.bg-blue-100.h-6.px-2.text-xs.rounded-md{
	padding-bottom: 0.8%;
}

.sm\:w-1\/2 {
    width: 350px;
}

.dark .dark\:bg-blue-400 {
    background-color: rgb(255 206 206/var(--tw-bg-opacity));
}

span.text-sm.py-1\.5{
	color: rgb(200 200 200) !important;
	padding-bottom: .125rem;
    padding-top: .125rem;
}

.dark .dark\:text-dark-300 {
    color: rgb(200 200 200/var(--tw-text-opacity));
}

html.h-full.dark {
	-webkit-text-size-adjust:100%;
	font-size: 17px;
	line-height: 1.3;
	font-family: 'coders' !important;
}

</style>