<style>

@font-face {
    font-family: 'svncoders';
    src: url('./_includes/svncodercrux-webfont.eot');
    src: url('./_includes/svncodercrux-webfont.eot?#iefix") format('embedded-opentype'),
         url('./_includes/svncodercrux-webfont.woff2') format('woff2'),
         url('./_includes/svncodercrux-webfont.woff') format('woff'),
         url('./_includes/svncodercrux-webfont.ttf') format('truetype'),
         url('./_includes/svncodercrux-webfont.svg#svn-coders_cruxregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a:link {
  color: #FFACAC;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #FFACAC;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ACC0FF;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #F3B352;
  background-color: transparent;
  text-decoration: underline;
}

h1 {
  color: grey;
}

span {
  font-family: svncoders;
  color: #FFACAC;
  background-color: transparent;
  text-decoration: none;
}

html {
  font-family: svncoders,arial,helvetica;
}

p { 
	font-family: svncoders,arial,helvetica; 
}
</style>